<!DOCTYPE html>
<html>
  <head>
    <title><%= name + ' | ' + position %></title>
    <meta charset="UTF-8">
    <meta name="description" content="<%= summary %>">
    <meta name="keywords" content="">
    <meta name="author" content="<%= name %>">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Material+Icons|Inter:400,700&display=swap' />
  </head>
  <script>
    function printDialog(){
      // var wnd = window.open(window.location.href);
      window.print();
    }
  </script>
  <body onload="loadPerf()">
    <header class="header-info">
      <div class="info">
        <h2 class="accent"><%= position %>.</h2>
        <h1><%= name %></h2>
      </div>
      <div class="contact">
        <a href="tel:+65 <%= contact.mobile %>"><i class="material-icons">phone</i><span class="contact-info"><%= contact.mobile %></span></a>
        <a href="mailto:<%= contact.email %>"><i class="material-icons">email</i><span class="contact-info"> <%= contact.email %></span></a>
        <a href="https://<%= contact.website %>" target="_blank"><i class="material-icons">link</i> <span class="contact-info"><%= contact.website %></span></a>
        <a href="#" class="action-items light" onClick="printDialog()"><i class="material-icons">print</i> <span class="contact-info">Print</span></a>
        <!--a href="#" class="action-items light"><i class="material-icons">save</i> <span class="contact-info">Save<span></a-->
      </div>
    </header>
    <hr>
    <section>
      <h2>Summary.</h2>
      <p><%= summary %></p>
    </section>
    <section>
      <h2>Career Objectives.</h2>
      <p><%= objective %></p>
    </section>
    <hr>
    <section>
      <h2>Experience.</h2>
      <ul>
        <% for(var i=0; i < experience.length; i++) { %>
          <li>
            <div><strong><%= experience[i].position %></strong> <span class="light">// <%= experience[i].company %></span></div>
            <div><%= experience[i].short_desc %></div>
            <div class="light"><%= experience[i].start %> to <%= experience[i].end %></div>
          </li>
        <% } %>
      </ul>
    </section>
    <section>
      <h2>Education.</h2>
      <ul>
        <% for(var i=0; i < education.length; i++) { %>
          <li>
            <div><strong><%= education[i].qualification %></strong> <span class="light">// <%= education[i].school %></span></div>
            <div><%= education[i].short_desc %></div>
            <div class="light"><%= education[i].start %> to <%= education[i].end %></div>
          </li>
        <% } %>
      </ul>
    </section>
    <section>
      <h2>Awards.</h2>
      <ul>
        <% for(var i=0; i < award.length; i++) { %>
          <li>
            <div><strong><%= award[i].name %></strong></div>
            <div class="light"><%= award[i].year %></div>
          </li>
        <% } %>
      </ul>
    </section>
    <section>
      <h2>Certifications.</h2>
      <ul class="horizontal-list">
      <% for(var i=0; i < certification.length; i++) { %>
      <li>
        <strong><%= certification[i].title %></strong>
        <ul>
            <% for(var j=0; j < certification[i].tag.length; j++) { %>
            <li><%= certification[i].tag[j] %></li>
            <% } %>
        </ul>
      </li>
      <% } %>
      </ul>
    </section>
    <section>
      <h2>Skillsets.</h2>
      <% for(var i=0; i < skillset.length; i++) { %>
      <strong><%= skillset[i].title %></strong>
      <ul>
          <% for(var j=0; j < skillset[i].tag.length; j++) { %>
          <li class="tag">
            <%= skillset[i].tag[j] %>
          </li>
          <% } %>
      </ul>
      <% } %>
    </section>
    <section>
      <h2>Languages.</h2>
      <ul>
      <% for(var i=0; i < language.length; i++) { %>
      <li>
        <strong><%= language[i].title %></strong>
        <ul class="horizontal-list">
            <li>
              <p>Spoken </p>
              <% for(var j=0; j < 5; j++) { %>
                <% if(j <= language[i].spoken - 1) {%>
                  <i class="material-icons accent">star</i>
                <% } else {%>
                  <i class="material-icons light">star</i>
                <% }%>
              <% } %>
            </li>
            <li>
              <p>Written </p>
              <% for(var j=0; j < 5; j++) { %>
                <% if(j <= language[i].written - 1) {%>
                  <i class="material-icons accent">star</i>
                <% } else {%>
                  <i class="material-icons light">star</i>
                <% }%>
              <% } %>
            </li>
        </ul>
      </li>
      <% } %>
      </ul>
    </section>
    <section>
      <h2>Interests.</h2>
      <ul>
          <% for(var i=0; i < interest.length; i++) { %>
          <li><%= interest[i] %></li>
          <% } %>
      </ul>
    </section>
    <hr>
    <section class="no-print">
      <h2>References.</h2>
      <ul class="horizontal-list">
          <% for(var i=0; i < references.length; i++) { %>
          <li>
            <div><strong><%= references[i].name %></strong><span class="light"> // <%= references[i].title%></span></div>
             <em>
            <div><%= references[i].company %></div>
            <div><%= references[i].address %></div>
            </em> 
            <div><a href="tel:+65 <%= references[i].mobile %>"><%= references[i].mobile %></a></div>
            <div><a href="mailto:<%= references[i].email %>"><%= references[i].email %></a></div>
            <div><span class="light"><%= references[i].relationship%></span></div>
          </li>
          <% } %>
      </ul>
      <hr>
    </section>
    <footer class="no-print">
      <div id="perfLog"></div>
    </footer>
  </body>
  <script>
    function loadPerf(){
      var load_time = (window.performance.timing.domContentLoadedEventEnd-window.performance.timing.navigationStart)/1000;
          document.querySelector('#perfLog').innerText = 'Page loaded in ' + load_time + 's';
    }
  </script>
</html>
