body {
  background-color: #faf8f0;
  color: #1d1d1f;
  font-family: "Inter", sans-serif;
  font-weight: 500;

  @media (prefers-color-scheme: dark) {
    background-color: #010101;
    color: #faf8f0;
  }

  h1, h2, h3, h4, h5, h6, p, span {
    font-family: "Inter", sans-serif;
  }

  header {
    text-align: center;
    height: calc(100vh - 180px);
    min-height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  footer {
    max-width: 500px;
    margin: auto;
    margin-bottom: 2em;
  }
  
  .backdrop-text {
    // border: 1px solid red;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 10em;
    font-weight: 900;
    max-width: 500px;
    width: 100vw;
    color: rgba(0, 0, 0, 0.1);
    z-index: -1;
    box-sizing: border-box;
    text-align: center;
    transform: translate(-50%, -25%);
    @media (prefers-color-scheme: dark) {
      color: rgba(255,255,255, 0.1);
    }
  }
  
  .backdrop-text::before {
    content: "HE";
    display: block;
    text-align: left;
  }
  .backdrop-text::after {
    content: "LLO.";
    display: block;
    text-align: right;
  }
  
  .MuiTypography-root {
    font-family: "Inter", sans-serif;
  }
  
  .portfolio--section {
    text-align: left;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  
  
}


